@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KubeDev - Dashboard</h1>
    <p>Saiba mais<a href="https://github.com/KubeDev/k8s-dashboard-csharp"> no GitHub</a>.</p>
</div>
